{% extends 'index.html' %}
{% load static %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'cssfiles/all-companions.css' %}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <h1>All Companions</h1>
    <!-- Loop through creatures by rarity and display in grid -->
    {% for rarity, creature_list in creatures_by_rarity %}
        <h2 class="{{ rarity|slugify }}">{{ rarity }}</h2>
        <div class="dex-grid">
            {% for creature in creature_list %}
            <div class="creature-card {{ rarity|slugify }}">
                <img src="{% static creature.sprite %}" alt="{{ creature.name }}">
                <div class="name">{{ creature.name }}</div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}